<div nz-row class="topList">
    <div nz-col [nzSpan]="6">
        <img src="/assets/top1.jpg" alt="">
    </div>
    <div nz-col [nzSpan]="18" class="item_info">

        <div nz-row class="item_title">个人博客怎么做好优化？</div>
        <div nz-row class="info">各个博客软件开源程序的功能都应该是差不多。介绍一下个人博客怎么做好优化。首先一点，我觉得博客更多的是一个分享交流工具，它生成的网站结构，网页代码与很多网站相比算是比较搜索引擎友好。但是Blog页面都是用模板生成，有很多因素是不能控制的。在挑好了一个你觉得比较好的模板之后，页面上的大部分代码就定下来了...</div>
        <div nz-row [nzGutter]="4" class="extra">
          <div nz-col [nzSpan]="3"><i class="anticon anticon-tag"></i>标签名字</div>
          <div nz-col [nzSpan]="4"><i class="anticon anticon-schedule"></i>2018-05-07</div>
          <div nz-col [nzSpan]="4"><i class="anticon anticon-eye"></i>1029次浏览</div>
          <div nz-col [nzSpan]="3"><i class="anticon anticon-message"></i>5条评论</div>
          <div nz-col [nzSpan]="3" [nzOffset]="7"><nz-tag [nzColor]="'#108ee9'">阅读全文</nz-tag></div>
        </div>
       
    </div>
</div>